@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hey, this website is now changed; has different content than before. This webpage is for telling you about my fake business website.</p>
<div>
    <img src="https://media.giphy.com/media/QgixZj4y3TwnS/giphy.gif" alt="W3Schools.com">
</div>