@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2800 Palmyra Rd<br />
    Hannibal, MO 634019<br />
    <abbr title="Phone">P:</abbr>
    573.629.3000
</address>

<address>
    <strong>HLGU Website:</strong>   <a href="http://www.hlg.edu">Click here :)</a><br />
    
</address>
<div>
    <img src="https://i.giphy.com/PmpA5ohOUl1xC.gif" alt="W3Schools.com">
</div>