@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RiverCity Industrial Diamonds</h1>
    <p class="lead">Shop for your favorite books, even though this is a diamond store.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more I guess &raquo;</a></p>
</div>

@Html.Action("Featured", "Books")